<!DOCTYPE html>
{%extends 'base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
{%block baseblock%}
<h1><center>Population</center></h1>
<p class="lead" align="center">
  India is the most populous country in the world with one-sixth of the world's population.
    According to official estimates in 2022, India's population stood at over 1.42 billion.[5]
    Between 1975 and 2010, the population doubled to 1.2 billion, reaching the billion mark in 2000.
    India overtook China to become the most populous country at the end of April 2023.[6] As of the UN data released in April 2023,[7]
    India has surpassed China to become the world's most populous nation. According to the UN's World Population dashboard,
    India's population now stands at slightly over 1.428 billion, edging past China's population of 1.425 billion people, as reported by the news agency Bloomberg.
    [8] its population is set to reach 1.7 billion by 2050.[9][10] In 2017 its population growth rate was 0.98%, ranking 112th in the world; in contrast, from 1972 to 1983,
    India's population grew by an annual rate of 2.3%.[11]
    In 2022, the median age of an Indian was 28.7 years,[12] compared to 38.4 for China and 48.6 for Japan; and, by 2030;
    India's dependency ratio will be just over 0.4.[13] However, the number of children in India peaked more than a decade ago and is now falling.
    The number of children under the age of five peaked in 2007, and since then the number has been falling.
    The number of Indians under 15 years old peaked slightly later (in 2011) and is now also declining.[14]
</p>
<link rel="stylesheet" href="{%static 'css/homepage.css' %}">
<<center><img src="{%static 'images/popu.jpg' %}">
{%endblock%}
</body>
</html>