<!DOCTYPE html>
{%extends 'base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
{%block baseblock%}
<h1><center>Welcome to Goverment Of India</center></h1>
<<center><img src="{%static 'images/indian.jpg' %}">

    <h5><center>About India</center></h5>
<p class="lead" align="center">
    India is one of the oldest civilizations in the world with a kaleidoscopic variety and rich cultural heritage.
    It has achieved all-round socio-economic progress since Independence. As the 7th largest country in the world,
    India stands apart from the rest of Asia, marked off as it is by mountains and the sea,
    which give the country a distinct geographical entity. Bounded by the Great Himalayas in the north, it stretches
    southwards and at the Tropic of Cancer,
    tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west.
</p>
{%endblock%}
</body>
</html>