<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block baseblock%}
<h1><center>Laptop Details List</center></h1>

<table style="width:60%" border="1" margin="auto" align="center">
  <thead>
{%if laptop_list%}
  <tr>
    <th style="text-align: center; vertical-align: middle;">Id</th>
    <th style="text-align: center; vertical-align: middle;">Model Name</th>
    <th style="text-align: center; vertical-align: middle;">Model Price</th>
    <th style="text-align: center; vertical-align: middle;">Model Qnty</th>
  </tr>
</thead>
  {% for lap in laptop_list %}
  <tr>
    <td style="text-align: center; vertical-align: middle;">{{lap.id}}</td>
    <td style="text-align: center; vertical-align: middle;">{{lap.mname}}</td>
    <td style="text-align: center; vertical-align: middle;">{{lap.mprice}}</td>
    <td style="text-align: center; vertical-align: middle;">{{lap.mqty}}</td>
    <td> <a href="/electronics/update/{{lap.id}}" class="btn btn-success">Update</a></td>
    <td> <a href="/electronics/delete/{{lap.id}}" class="btn btn-danger">Delete</a></td>
  </tr>
  {%endfor%}
</table>
{%else%}
<h1><center>No Data Found</center></h1>
{%endif%}
<div class="container" align="center">
  <br>
     <br>
<a href="/electronics/laptop" class="btn btn-dark">Insert New Record</a>
</div>
{%endblock%}
</body>
</html>