<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To InfoCept</title>
    <style>
    .main{
        width: 1000px;
        background-color:pink;
        color:Black;
        padding:20px;
        font-size:30px
        }
    </style>
</head>
<body bgcolor="BlanchedAlmond">
<div  class = "main"><center>{{title}} {{date}}</div>
<link rel="stylesheet" href="{%static 'css/teams.css' %}">
<img src="{%static 'images/dev.jpg' %}">

<h1>This website created by Roshan....</h1>
</body>
</html>