<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{%block baseblock%}
<body>
<div align="center" class="container">
<h1>Laptop Details</h1>
{% if laptop_list %}
<table border="1" margin="auto" align="center">
  <tr>
    <th>ID</th>
    <th>Product Name</th>
    <th>Prd Price</th>
    <th>Prd Qty</th>
  </tr>
     {% for prd in laptop_list %}
     <tr>
    <td>{{prd.id}}</td>
    <td>{{prd.model_name}}</td>
    <td>{{prd.model_price}}</td>
    <td>{{prd.model_qty}}</td>
    <td> <a href="/electronics/update/{{prd.id}}" class="btn btn-success">Update</a></td>
    <td> <a href="/electronics/delete/{{prd.id}}" class="btn btn-danger">Delete</a></td>
  </tr>
{%endfor %}

</table>
{%else%}
<h1>No Data Found</h1>

{%endif %}
<br>
    <br>
<a href="/electronics/laptop" class="btn btn-dark">Insert New Record</a>
</div>
</body>
{%endblock%}
</html>