<!DOCTYPE html>
{%extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
{%block baseblock%}
<h1><center>About PeopleKart</center></h1>

<p><h6><center>PeopleKart offers a diverse range of over 3000+
    categories where you can sell your products.</h6></p>
<p><h6><center>These categories represent just a fraction of
    the wide variety available on PeopleKart,</center></h6></p>
<p><h6><center>providing ample opportunities for sellers to showcase their
    products to a large customer base.
  Here are some popular categories to consider
    for online selling:</center></h6></p>
{%endblock%}
</body>
</html>