<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body bgcolor="pink">
{%block baseblock%}
<h1><center>About PeopleKart</center></h1>
<p><h2>PeopleKart offers a diverse range of over 3000+
    categories where you can sell your products.
  These categories represent just a fraction of
    the wide variety available on PeopleKart,
  providing ample opportunities for sellers to showcase their
    products to a large customer base.
  Here are some popular categories to consider
    for online selling:</h2></p>
{%endblock%}
</body>
</html>