<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>copper details</title>
</head>
<body>
<h1><center>Welocome to Copper Product</h1>
<table style="width:60%" border="1" margin="auto" align="center">
{% if cop_list %}
    <tr>
        <th>Id</th>
        <th>PRN</th>
        <th>Product Name</th>
        <th>Product Qty</th>
        <th>Product Price</th>
    </tr>
    {% for cop in cop_list %}
    <tr>
    <td style="text-align: center; vertical-align: middle;">{{cop.id}}</td>
    <td style="text-align: center; vertical-align: middle;">{{cop.prd_reg_no}}</td>
    <td style="text-align: center; vertical-align: middle;">{{cop.prd_name}}</td>
    <td style="text-align: center; vertical-align: middle;">{{cop.prd_qty}}</td>
    <td style="text-align: center; vertical-align: middle;">{{cop.prd_price}}</td>
  </tr>
{%endfor %}

</table>
{%else%}
<h1>No Data Found</h1>

{%endif %}
</body>
</html>